body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
    /* Adjust layout for mobile screens */
 

    .availability-actions {
        font-size: x-small;
        flex-direction: column;
    }
    .container {
        
        height: 50%;
        width: 100%;
    }

    .sidebar, .sidebar-right{
        width: 50px; /* Full width for small screens */
        
        padding: 1px 1px;
    }

    .sidebar, .sidebar-right label {
        font-size: 12px; /* Smaller font size for labels */
    }

    .sidebar input,
    .sidebar select {
        font-size: 12px; /* Smaller font size for inputs */
    }

    .sidebar-nav a.button{
        padding: 1px 1px;
        margin: 0;
        position: relative;
        right: 58px;

    }

    .sidebar-footer a.logout-link {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: small;
        /* text-align: right; */
    }
    .bookingdate {
        display: block;
        width: 80%; /* Take the full width of its parent */
        margin-top: 10px; /* Add some space above the input */
        margin-right: 50px;
    }

    #bookingForm {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: x-small;
    }

    .sidebar .btn{
        margin-left: 10px;
    }

    label {
        font-size: small;
    }

    .patientdrop {
        width: 80px;
    }

    .button {
        font-size: 12px;

    }

    .patient-actions {
        flex-direction: column;
    }

    .patient-box{
        font-size: x-small;

    }

    .employee-box {
        font-size: x-small;
    }

    .availability-box{
        font-size: x-small;
    }

    .employee-actions{
        flex-direction: column;
    }

    .btn {
        padding: 5px 5px;
        margin: 5px;
        background-color: #004c8c;
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: 10px;
    }   

    .assign-btn{
        font-size: small;
    }


    .container .side-bar .sidebar-footer a.logout-link {
        display: flex;
        justify-content: center; /* Centers horizontally */
        align-items: center;
        color: white;
        text-decoration: none;
        font-size: small;
        text-align: center;
    }

    .delete-btn {
        padding: 10px;
        margin: 5px;
        background-color: #004e8c;
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: 12px;
    }
    
    .updatebtn{
        padding: 10px;
        margin: 5px;
        background-color: #004c8c;
        color: white;
        text-decoration: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
    }

    .sidebar-nav a.button:hover{
        padding: 1px 1px; /* Smaller padding for smaller screens */
        width: 1px;
      
    }
    

    .user-icon {
        position: relative;
        right: 69px;
        flex-direction: column;
    }

    .content {
        width: 100%; /* Full width for content area */
        margin-top: 0; /* Remove any margin above the content area */
    }

    .availability-actions .btn{
        font-size: 10px;
        margin-left: 5px;
        margin-right: 1px;
    }

    /* Add any other styles you need to adjust for mobile here */
}

@media (min-width: 1024px) {
    body {
        font-size: 14px; /* Larger text on larger screens */
    }
}

/* Medium screens (tablets) */


/* Large screens (desktops) */
@media (min-width: 1024px) {
    .sidebar, .sidebar-right {
        width: 250px; /* More space for sidebars on large screens */
    }

    .employee-box, .patient-box, .availability-box, .diagnosis-box, .prescription-box {
        padding: 20px;
        margin-bottom: 20px;
    }

    .btn {
        padding: 12px 18px; /* Larger buttons for easier desktop use */
    }
}

.container {
    display: flex;
    height: 100vh; /* Set the container height to fill the viewport */
    overflow: hidden; /*Prevent overflow outside the container */
  
    
}

.container#diagnosis {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    /* Add any additional styling for each employee box */
}


.sidebar {
    width: 250px;
    background-color: #007bffe6; /* A blue color reminiscent of a hospital */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-right {
    background-color: #009BFF; /* Lighter or different shade of blue for contrast */
    color: white; /* Keeping text color consistent with the left sidebar */
    border-left:  #006FCC; /* Add a border for visual separation if desired */
     /* Adjust padding for content inside the right sidebar */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This helps in structuring the nav and potentially a footer or other elements */
}

.staff-selection-form .form-controls {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: stretch; /* Stretch children to fill the width */
}

.staff-selection-form .form-element {
    margin-bottom: 10px; /* Spacing between elements */
}

.sidebar, .sidebar-right {
    flex-shrink: 0; /* Prevents the sidebars from shrinking */
    width: 250px; /* Example fixed width for sidebars */
}

.user-icon {
    padding: 20px;
    text-align: center;
    font-size: 5px;
}

img, video {
    max-width: 100%;
    height: auto;
}



.user-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.sidebar-nav a.button {
    display: block;
    background-color: #0056b3;
    color: white;
    padding: 10px;
    width: 150px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
}

.sidebar-nav a.button:hover {
    background-color: #003d7a;
}

.sidebar-footer a.logout-link {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: small;
    text-align: center;
}

.sidebar-footer a.logout-link:hover {
    text-decoration: underline;
}


.content {
    margin-top: 50px;
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
    max-height: 100vh; /* Ensure content area does not exceed viewport height */
}

.profile-box .content
{
    
    width: 34vw;
    margin-top: 0px;
}

.employee-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    /* Add any additional styling for each employee box */
}

#password {
    color: black;
}

#password_confirmation {
    color: black;
}

.employee-box h2 {
    margin-top: 0; /* Adjusts spacing at the top of the box */
    color: #333; /* Dark color for the name for better readability */
}

.employee-box p {
    margin: 10px 0; /* Adds space around the paragraphs for better readability */
    color: #666; /* Lighter text color for the details */
}

.employee-actions {
    display: flex;
   
}

.patient-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    /* Add any additional styling for each employee box */
}

.patient-box h2 {
    margin-top: 0; /* Adjusts spacing at the top of the box */
    color: #333; /* Dark color for the name for better readability */
}

.patient-box p {
    margin: 10px 0; /* Adds space around the paragraphs for better readability */
    color: #666; /* Lighter text color for the details */
}

.patient-actions {
    display: flex;
    /* justify-content: flex-end; */
}

.availability-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    /* Add any additional styling for each employee box */
}

.availability-box h2 {
    margin-top: 0; /* Adjusts spacing at the top of the box */
    color: #333; /* Dark color for the name for better readability */
}

.availability-box p {
    margin: 10px 0; /* Adds space around the paragraphs for better readability */
    color: #666; /* Lighter text color for the details */
}

.availability-actions {
    display: flex;
    justify-content: flex-end;
}

.diagnosis-box{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    /* Add any additional styling for each employee box */
}

.diagnosis-box h2 {
    margin-top: 0; /* Adjusts spacing at the top of the box */
    color: #333; /* Dark color for the name for better readability */
}

.diagnosis-box p {
    margin: 10px 0; /* Adds space around the paragraphs for better readability */
    color: #666; /* Lighter text color for the details */
}

.prescription-box{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    /* Add any additional styling for each employee box */
}

.prescription-box h2 {
    margin-top: 0; /* Adjusts spacing at the top of the box */
    color: #333; /* Dark color for the name for better readability */
}

.prescription-box p {
    margin: 10px 0; /* Adds space around the paragraphs for better readability */
    color: #666; /* Lighter text color for the details */
}



.btn .signup-btn{
   
    font-size: 2em;
    /* margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    font-weight: bold;
    unicode-bidi: isolate;
}

.form-group input {
    height: 20px;
    border-radius: 10px;
}


.login-email input {
    height: 20px;
    border-radius: 10px;
}




/* Existing styles */
/* Add or ensure these styles for body and login-page are defined as you need them */
.login-page {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #002244; /* Adjust the background color as needed */
}

.login-email {
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 15px;
    margin-bottom: 15px;
}

.form-group {
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.login-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-container, .index-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.login-box, .index-box {
    background-color: #007bff; /* Adjust the login box background color as needed */
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    width: 60%; /* Adjust the width as needed */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* New styles */
.split-view {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.horizontal-line {
   width: 80%;
    border-radius: 33px;
   height: 1px;
   background-color: #fff;
   margin: 20px 0;
}

.search-container {
    margin-bottom: 20px;
    position: relative;
}

#searchPInput {
    border-radius: 5px;
    padding: 10px;
}

#searchEInput {
    border-radius: 5px;
    padding: 10px;
}
.backgroundcolour{
    position: absolute;
    background-color: #002244;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-box {
   
    border: 1px ;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:#007bffe6;
    width: auto;
    /* max-width: 600px; Limiting max width for better readability */
    margin: 20px auto; /* Centering the box */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Adding subtle shadow for depth */
    
}

.profile-box h2 {
    margin-top: 0;
    color: white;
    font-size: 24px; /* Slightly larger for headings */
}

.profile-box p {
    margin: 10px 0;
    color: white;
    font-size: 16px; /* Clear and readable text size */
}
.btn {
    padding: 10px 15px;
    margin-top: 5px;
    margin-right:10px;
    margin-left: 10px;
    background-color: #004c8c;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}


.loginsign {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

#prescriptionList {
 margin-top: 20px;
}

#diagnosisList {
    margin-top: 20px;
   }

.btn:hover {
    background-color: #003d7a;
}

.loginlabel {
    color: white;

}

.availability-actions .btn{
    margin-left: 5px;
    margin-right: 1px;
}

.signup-btn {
    background-color: #007bff;
      
        font-size: 2em;
        /* margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px; */
        font-weight: bold;
        unicode-bidi: isolate;
        position: relative;
       
    
}

.signup-btn:hover {
    background-color: #0056b3; /* Darker shade on hover for the sign-up button */
}

.form-controls {
    display: flex; /* Aligns children (select, input, anchor) in a row */
    justify-content: space-between; /* Spreads children evenly */
    align-items: center; /* Aligns children vertically */
}

select#user_ID {
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 5px; /* Ensures spacing on the right */
}

select#patient_ID {
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 5px; /* Ensures spacing on the right */
}




